# no .a files
#*.a
# but do track lib.a, even though you're ignoring .a files above
#!lib.a
# only ignore the TODO file in the current directory, not subdir/TODO
#/TODO
# ignore all files in the build/ directory
#build/
# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt
# ignore all .pdf files in the doc/ directory
#doc/**/*.pdf

.*
!.gitignore

**/build/
**/devel/
**/build_isolated/
**/devel_isolated/
*.csv


